@import '../_basic'

.Dashboard 
    .BTN_TEST_CREATE
        position: absolute
        bottom: 1rem
        left: 1rem
        background: red
        padding: 1rem
        color: $white
        font-size: 1rem
        border: none
        border-radius: 10px
        cursor: pointer
    
    main
        display: flex
        position: absolute
        gap: 5rem
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)