@import '../_basic'

.UpdatePlace
    .upload-fail-text
        margin: 2rem
        padding: 1rem
        background: $red
        border-radius: .5rem
        color: $white
        width: 20rem
    .creation-mode
        cursor: cell
    .floor-plan-img
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        max-width: 100%
        max-height: 85%
        display: block
        z-index: 100
        object-fit: contain
    .bottom-container
        display: flex
        height: 1020px
        width: 100vw
        position: absolute
        bottom: 0
        left: 0
        @media screen and (max-height: 1200px)
            height: calc( 82vh - 2rem )
        .layout
            position: relative
            min-width: 70%
            height: 100%
            background: $gray
            border-radius: 0 1rem 0 0
            input
                display: none
            label
                display: flex
                justify-content: center
                flex-direction: column
                align-items: center
                gap: .5rem
                font-weight: $bold
                color: $primary
                cursor: pointer
                position: absolute
                left: 50%
                top: 50%
                transform: translate(-50%, -50%)
                &:hover
                    text-decoration: underline
            img
                max-height: 85%
                max-width: 100%
                position: absolute
                left: 50%
                top: 50%
                transform: translate(-50%, -50%)
        .layout-item-select
            padding: 0 4rem 0 4rem
    .information-for-selected
        display: flex
        justify-content: space-between !important
        position: absolute
        width: 70%
        padding-left: 2rem
        bottom: 82vh
        .left
            display: flex
            gap: 5rem
        .folder-select
            height: 100%
            width: 15rem
            background: $gray
            border: none
            padding: 1rem
            border-radius: 1rem
            cursor: pointer
            overflow: visible
            outline: none
            appearance: none
            -webkit-appearance: none
            -moz-appearance: none
            background-image: url("data:image/svg+xml;utf8,<svg fill='black' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'><path d='M5.23 7.21a.75.75 0 0 1 1.06.02L10 11.085l3.71-3.855a.75.75 0 1 1 1.08 1.04l-4.25 4.417a.75.75 0 0 1-1.08 0L5.21 8.27a.75.75 0 0 1 .02-1.06z'/></svg>")
            background-repeat: no-repeat
            background-position: right 1rem center
            background-size: 1rem
        .box
            display: flex
            flex-direction: column  
            gap: .5rem
            .row
                display: flex
                gap: 1.5rem
                .row-container
                    display: flex
                    flex-direction: row
                    gap: .6rem
                    border: 1px solid $dark_gray
                    border-radius: 10px
                    padding: .5rem 1rem .5rem 1rem
                .val
                    font-weight: $bold
        .save-floor-plan
            padding: .8rem 1.2rem .8rem 1.2rem
            width: 100%
            font-size: 1rem
            display: flex
            justify-content: center
            align-items: center
            gap: .5rem
            border-radius: 1rem
            border: none
            background-color: $primary
            color: $white
            cursor: pointer
            transition: 150ms
            &:hover
                background-color: darken($primary, 5%)
