@import '../_basic'

.Login
    height: 100vh
    display: flex
    justify-content: center
    align-items: center
    gap: 2rem
    flex-direction: column
    h1
        color: $primary
        font-weight: $black
        font-size: 4rem
    
    .login-container
        border: 3px solid $gray
        border-radius: 10px
        width: 22rem
        padding: 2rem
        display: flex
        flex-direction: column
        gap: 1rem
        
        p
            font-size: 1.2rem

        input
            border: none
            background-color: $gray
            padding: .8rem
            border-radius: 10px
            outline: none
            font-size: 1rem

        .failed
            background-color: lighten($red, 30%)
            
        .login-btn
            padding: .5rem
            border-radius: 10px
            border: none
            background-color: $primary
            color: $white
            outline: none
            cursor: pointer
            transition: 150ms
            font-size: 1rem
            font-weight: $bold
        .login-btn:hover
                background-color: darken($primary, 4%)

        .wrong-pass-text
            color: $red
            font-size: 14px
            margin-bottom: -1rem

            
