@import '../../_basic'

.Places
    width: 30rem
    position: relative
    display: flex
    flex-direction: column
    @media screen and (max-height: 1000px)
        padding-bottom: 2rem
    .places
        padding: 6px 0 6px 0
        margin-top: 2rem
        display: flex
        flex-direction: column
        gap: 1.5rem
    .create-new-place-btn
        margin-top: 3rem
        padding: 1rem
        background-color: $primary
        color: $white
        border: none
        border-radius: 1rem
        font-size: 1rem
        font-weight: $bold
        cursor: pointer
        transition: 150ms
        width: 100%
        &:hover
            background-color: darken($primary, 5%)