@import '../../_basic'

.Equipment
    width: 100%
    @media screen and (max-width: 1750px)
        width: 60vw
        margin-left: auto
        margin-right: auto
        margin-top: 2rem
    .contents
        margin-top: 2rem
        overflow-y: auto
        padding-top: 6px
        display: grid
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr))
        // grid-template-columns: repeat(3, 1fr)
        gap: 2rem
        max-width: calc(3 * 20rem + 3 * 2rem)
        max-height: calc(2 * 25rem + 2rem + 12px)
        @media screen and (max-height: 1200px)
            max-height: calc(25rem + 2rem + 12px)
        @media screen and (max-width: 2160px)
            max-width: calc(2 * 20rem + 2 * 2rem)
        @media screen and (max-width: 1750px)
            width: 100%
        .new-equipment-link
            text-decoration: none

        .new-equipment
            background-color: $primary
            color: $white
            height: 25rem
            width: 20rem
            border-radius: 1rem
            display: flex
            flex-direction: column
            justify-content: center
            gap: 2rem
            align-items: center
            padding: 2rem
            transition: 150ms
            &:hover
                transform: translateY(-6px)
                cursor: pointer
            .icon
                font-size: 5rem