// Colors
$white: #fff
$primary: #5672E4
$red: #e5304b
$green: #96f18c
$gray: #F1F4FB
$dark_gray: #b7bbd0
$black: #000


@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap')

$font: 'Kumbh Sans'
$black: 900
$bold: 700
$reg: 400
$light: 200


// Basic Code

*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: $font

body
    height: 100vh
    width: 100%
    background-color: $white